$primary-color: green;
$secondary-color: brown;
$text-color: red;
$snake-color: orange;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $primary-color;
}

.score-point{
    background-color: wheat;
    border: 1px outset black;
}

.snake {
    background-color: $snake-color;
    border: 1px outset black;
}

.obs {
    background-color: black;
    border: 1px inset white;
}

.btn {
    width: 75px;
    background-color: $primary-color;
    color: black;
    border: 1px outset black;
    border-radius: 10px;
    margin: 5px;
}

.btn:hover {
    transform: scale(.95);
    border: 1px inset black;
}

#main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80vw;
    margin: auto;

    #pannel {
        border: 1px outset black;
        text-align: center;
        padding: 5px;
        margin-top: 5px;
        background-color: $secondary-color;
        
        h2 {
            text-decoration: underline;
        }


        #game-pannel {
            padding: 5px;

            #score-value {
                color: $text-color;
            }

            #difficulty-container {
                display: flex;
                flex-direction: row;
                margin: 10px 0;

                h3 {
                    text-decoration: underline;
                }

                .difficulty-fieldset {
                    padding: 0 5px;
                    border-radius: 10px;

                    input[type=radio]{
                       cursor: crosshair;
                       transform: scale(1.2);
                       margin-right: 2.5px;
                    }
                
                    div:nth-child(1n+0) {
                        padding: 2.5px;
                        text-align: left;
                    }
                }
                
            }
        }
    }

    #game-area{
        display: flex;
        flex-wrap: wrap;
        width: 402px;
        height: 402px;
        border: 1px solid black;
        margin: 15px 0;
        background-color: $secondary-color;

        .game-squares {
            width: 20px;
            height: 20px;
        }
    }
}